html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background-image: url(./images/Rock_Paper_Scissors4xeDetail.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.headline {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 3em;
  color: whitesmoke;
}

.players {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.player-one h2, h2 {
  color: yellow;
}

.player-one h4, h4 {
  color: pink;
}

.p1choice {
  color: white;
  font-size: 1.5em;
}

.p2choice {
  color: white;
  font-size: 1.5em;
}